In [1]:
import pandas as pd
import numpy as np

In [51]:
df=pd.read_csv('dfn3share.csv')
df.sort_values(by='count').head()

        Unnamed: 0     user  service  count  subcat  gender
571874      571874    73939       27      1       1       1
684340      684340  1093025      155      1       1       1
684341      684341  1093025       24      1       1       1
684342      684342  1095704      155      1       1       2
684343      684343  1095704      141      1       1       2

In [47]:
df.loc[(df['user'] == 0)& (df['service'] == 133)]

      Unnamed: 0  user  service  count  subcat  gender
4095        4095     0      133      3       0       1

In [48]:
df2.loc[(df2['user'] == 0)& (df2['service'] == 133)]

        Unnamed: 0                    Init  service  user
344864      344864 2020-01-03 08:43:40.087      133     0
147284      147284 2019-04-07 14:24:08.108      133     0
45272        45272 2018-03-15 11:39:13.633      133     0

In [40]:
df1['Init'] = pd.to_datetime(df1['Init'],unit='ms')
df2=df1.sort_values(by='user')
df2.head()

         Unnamed: 0                    Init  service  user
47717         47717 2018-05-03 08:37:17.764       92     0
1465230     1465249 2022-10-04 03:55:08.641       55     0
592579       592579 2020-09-10 10:57:12.192      130     0
39389         39389 2022-06-11 07:07:08.432      171     0
39402         39402 2022-06-11 07:01:32.510       42     0